{
  "extends": ["next/core-web-vitals", "prettier"]
  // "extends": ["next/core-web-vitals", "prettier", "plugin:mdx/recommended"],
  // "parserOptions": {
  //   "ecmaVersion": 2015
  // },
  // "settings": {
  //   "mdx/code-blocks": true
  //   // "mdx/remark": true
  //   // optional, if you want to disable language mapper, set it to `false`
  //   // if you want to override the default language mapper inside, you can provide your own
  //   // "mdx/language-mapper": {}
  // }
}
