@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/**
 * Fixes the bottom of the 'Terminal' CodeBlock component
 */

pre[class*='language-'] {
  @apply mb-0 overflow-x-auto text-sm;
}

/**
 * Removes clear "X" from Algolia search box
 * https://codesandbox.io/s/no-submit-no-reset-zihtl?file=/src/App.css:504-670
 * https://discourse.algolia.com/t/not-have-button-on-search-bar/8963
 */

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  @apply hidden invisible;
}

::-ms-clear {
  @apply hidden invisible;
}

/**
 * Prose
 */

.converted-html {
  @apply prose prose-lg dark:prose-invert prose-a:no-underline max-w-none break-words mb-8 prose-a:text-blue-500 hover:prose-a:text-blue-700 dark:prose-a:text-blue-300 dark:hover:prose-a:text-blue-400;
}

/**
 * rehype-code-titles
 */

.rehype-code-title {
  @apply absolute top-4 right-5 font-mono font-bold text-gray-200;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

/**
 * rehype-prism-plus line numbers and highlights
 */

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  border-left-color: rgba(31, 41, 55, 0); /* Set code block color */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5);
  border-left-width: 4px;
  border-left-color: rgb(59, 130, 246);
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}

/**
 *  Colors
 */

.mac-cls {
  background-color: #ff605c;
}

.mac-min {
  background-color: #ffbd44;
}

.mac-max {
  background-color: #00ca4e;
}

/* 
:root {
  --hue: 204;
  --sat: 100%;
  --lum: 30%;
}

// 204 nice blue  // 27 nice orange

.bg-blue0 {
  --lum: 10%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue1 {
  --lum: 15%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue2 {
  --lum: 20%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue3 {
  --lum: 25%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue4 {
  --lum: 30%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue5 {
  --lum: 35%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue6 {
  --lum: 40%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue7 {
  --lum: 45%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue8 {
  --lum: 50%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue9 {
  --lum: 55%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue10 {
  --lum: 60%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue11 {
  --lum: 65%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue12 {
  --lum: 70%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue13 {
  --lum: 75%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue14 {
  --lum: 80%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.bg-blue15 {
  --lum: 85%;
  background: hsl(var(--hue), var(--sat), var(--lum));
}

.blue0 {
  --lum: 10%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue1 {
  --lum: 15%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue2 {
  --lum: 20%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue3 {
  --lum: 25%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue4 {
  --lum: 30%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue5 {
  --lum: 35%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue6 {
  --lum: 40%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue7 {
  --lum: 45%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue8 {
  --lum: 50%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue9 {
  --lum: 55%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue10 {
  --lum: 60%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue11 {
  --lum: 65%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue12 {
  --lum: 70%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue13 {
  --lum: 75%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue14 {
  --lum: 80%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.blue15 {
  --lum: 85%;
  color: hsl(var(--hue), var(--sat), var(--lum));
}

.warning-light {
  background: hsl(34, 100%, 50%);
}

.warning-dark {
  background: hsl(34, 100%, 65%);
}

.error-light {
  background: hsl(0, 66%, 47%);
}

.error-dark {
  background: hsl(0, 66%, 62%);
}

.success-light {
  background: hsl(174, 100%, 27%);
}

.success-dark {
  background: hsl(174, 100%, 42%);
}

.error-text {
  color: hsl(0, 66%, 47%);
}

.warning-text {
  color: hsl(34, 100%, 50%);
}

.success-text {
  color: hsl(174, 100%, 27%);
}

.overlay {
  background: rgba(255, 255, 255, 0.07);
} */
